@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('../fonts/idroid.otf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #86e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font: normal 1em Arial, Verdana, sans-serif;
    background-color: var(--cor0);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 30px;
    text-align: center;
}

header > h1 {
    font: normal 3em 'Bebas Neue';
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.377);
}

header > p {
    margin: 30px auto;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    font: normal 1.2em Arial;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.377);
}

nav {
    text-align: left;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.356);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

nav > a:hover {
    transition-duration: 500ms;
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

main p {
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
}

main a {
    padding: 2px 6px;
    background-color: var(--cor1);
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
}

main a:hover {
    color: var(--cor4);
    text-decoration: underline;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

article > h1, article > h2 {
    font-family: 'idroid';
    font-weight: normal;
}

article > h1 {
    color: var(--cor5);
    font-size: 1.8em;
}

article > h2 {
    color: var(--cor4);
    font-size: 1.3em;
    text-indent: 8px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

article img {
    display: block;
    margin: auto;
    width: 100%;
}

aside {
    padding: 10px;
    background-color: var(--cor1);
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.418);
}

aside h3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
}

aside span {
    text-decoration: underline;
}

footer {
    margin-top: 30px;
    background-color: var(--cor5);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 0.8em;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

.externo::after {
    content: '\1F517';
}

.img_pequena {
    max-width: 350px;
}

.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}