.buttons-container {
    border: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.buttons {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    font-size: 0.875rem;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    border: 1px solid var(--primary-color);
}

.buttons:hover {
    transition-duration: 200ms;
    background-color: var(--secondary-bg-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}
