@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden
}

header {
    background-color: #38AF90;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    min-width: 320px;
}

header h1 {
    font-size: 1.125rem;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    align-items: center;
}


nav img {
    width: 62px;
}

nav a {
    padding-right: 30px;
    font-size: 0.875rem;
}

nav ul {
    list-style: none;
    display: none;
    padding: 0;
    margin: 0;
}

article {
    margin: 0px 10px 40px 10px;
    border-radius: 8px;
}

section button {
    background-color: #DD7E92;
    margin-bottom: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 55px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #383838;
    min-height: 190px;
    font-size: 14px;
    text-align: center;
}

footer a, p {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}

#noticias {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#noticias article {
    padding: 15px 40px 15px 40px;
    background-color: #F0F0F0;
    box-shadow: 0px 4px 4px 0px #00000040;
}

#noticias h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #797979;
    padding: 40px;
    text-align: center;
}

#noticias h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #38AF90;
}

#noticias h4 {
    font-size: 0.875rem;
    font-weight: bold;
    color: #797979;
}

#noticias hr {
    border: none;
    border-top: 1px solid #38AF90;
    margin-bottom: 2px;
}

#noticias p {
    color: #797979;
    margin-top: 10px;
}

#noticias a {
    text-decoration: none;
    color: #DD7E92;
    font-weight: bold;
    font-size: 0.875rem;
}

#jogos {
    background-color: #F0F0F0;
    text-align: center;
}

#jogos article {
    background-color: white;
    gap: 30px;
    background-color: #F0F0F0;
    box-shadow: 0px 4px 20px 0px #00000040;
}

#jogos img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px 8px 0px 0px;
}

#jogos h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #38AF90;
    text-align: center;
    padding-top: 35px;
}

#jogos h3 {
    font-size: 1.125rem;
    color: #797979;
    margin-top: 10px;
}

#jogos p {
    text-align: center;
    font-size: 0.875rem;
    color: #797979;
}

#jogos strong {
    color: #38AF90;
}

#inscricao h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #797979;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 15px;
}


#inscricao form {
    display: flex;
    flex-direction: column;
} 

#inscricao input[type="text"],
#inscricao input[type="email"] {
    align-items: center;
    width: 100%;
    padding: 10px 20px 10px 20px ;
    margin-bottom: 20px;
    border: 1px solid #797979;
    border-radius: 4px;
    font-size: 0.875rem;
}

#inscricao input[type="text"]::placeholder,
#inscricao input[type="email"]::placeholder {
    font-size: 16px;
    color: #C4C4C4;
    font-weight: normal;
}

#inscricao input[type="radio"],
#inscricao input[type="checkbox"] {
    width: 23px;
    height: 23px;
    
}

#inscricao input[type="radio"] {
    margin-bottom: 10px;
}

#formulario {
    background-color: #F0F0F0;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
    border-radius: 8px;
    max-width: 960px;
    width: 100%;
    margin: 0px auto 60px auto;
    padding: 50px 10px 30px 10px;
}

#platforms {
    font-size: 16px;
    color: #797979;
    margin-bottom: 10px;
}

#formbuttons {
    margin: auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#enviar, #limpar {
    font-size: 18px;
    font-weight: bold;
    width: 244px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#enviar {
    background-color: #DD7E92;
    color: white;
}

#limpar {
    background-color: white;
    color: #DD7E92;
    border: solid 2px #DD7E92;
}

.data {
    font-size: 0.625rem;
    font-weight: normal;
    color: #38AF90;
    border: none;
}

.conteudo {
    font-size: 0.625rem;
    color: #F0F0F0;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 70px 0 40px 0;
    justify-content: center;
    align-items: center;
}

.nota{
    font-size: 2.25rem;
    font-weight: bold;
}

.labels {
    border: none;
    display: flex;
    flex-direction: center;
}

.labels label {
    font-size: 16px;
    color: #797979;
    margin-left: 7px;
}

.labelnews {
    margin: 20px 0 30px 0;
}

.container-inscricacao {
    margin: 0 10px;
}

@media (min-width: 768px) {
    nav ul {
        display: flex;
    }

    header h1 {
        font-size: 1.5rem;
    }

    #noticias h2 {
        font-size: 2.25rem;
    }

    #noticias h3 {
        font-size: 1.5rem;
    }

    #noticias h4 {
        font-size: 1rem;
    }

    #jogos h2 {
        font-size: 2.25rem;
    }

    #inscricao h2 {
        font-size: 2.25rem;
    }
}   