@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
}

img {
    height: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: normal;
}

a > p {
    padding-left: 10px;
}

header {
    height: 100px;
    background-color: #F03C42;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;
}

header h1 {
    font-size: 18px;
    font-weight: bold;
}

nav a {
    display: flex;
    align-items: center;
}

section {
    padding: 20px;
}

section h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 40px;
}

article {
    background-color: #CCCCCC;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: justify;
}

article h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer {
    background-color: #000000;
    height: 260px;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

footer > p {
    margin-top: 20px;
}

footer address > p {
    margin-top: 5px;
}

#conheca {
    background-color: #222374;
}

#conheca h2 {
    color: white;
}

#modalidades {
    color: white;
}

#modalidades h2 {
    color: #F03C42;
}

#modalidades article {
    background-color: #222374;
}

.container {
    max-width: 960px;
    margin: auto;
}