body{
    background: rgb(15, 126, 218);
    font: normal 15pt Arial;
    color: White;
    text-align: center;
}

section{
    text-align: left;
    background-color: white;
    color: black;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.664);
}



footer{
    font-style: italic;
}